:root {
  /* --primary-color: #606C38;
  --secondary-color: #283618;
  --bg-dark: #f0f2f5;
  --mint-light: #e6f4ec;
  --mint-dark: #84bea3;
  --form-bg: #fefae0;
  --text-light: #fefae0;
  --text-muted: #bc6c25;
  --input-bg: #fefae0;
  --input-border: #283618;
  --error-color: #bc6c25; */

  --primary-color: #1b768e;
  --secondary-color: #012538;
  --bg-dark: #4d555b;
  --mint-light: #e6f4ec;
  --mint-dark: #84bea3;
  --form-bg: #fcefef;
  --text-light: #fcefef;
  --text-muted: #012538;
  --input-bg: #fcefef;
  --input-border: #283618;
  --error-color: #bc6c25;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* background: linear-gradient(10deg, var(#090C11), var(#ffffff)); */
  /* background: linear-gradient(1800deg, #d6b9b9, #2c697f); */
  /* background: linear-gradient(180deg, #e59412a2, #42373856); */
  /* background: linear-gradient(110deg, #fefae0,  #bc6b2596); */
  background: linear-gradient(110deg,#fcefef, #1b758e94);
  /* border: 2px solid red ; */
}

.logocont{
  /* border: 5px solid greenyellow ; */
  width: 30%;
}
.nessefyLogo{
  font-weight: 600;
  font-size: 4.5rem;
  color: var(--secondary-color);
}
.nessefyDes{
  margin-top: 3rem;
  padding: 1rem;
  font-size: 1.2rem;
  color: var(--secondary-color);
}
.verticalLine{
  border: 2px solid var(--secondary-color);
  height: 50vh;
  margin: 0px 10rem ;
}
.form {
  background-color: var(--form-bg);
  padding: 2rem;
  border-radius: 16px;
  width: 100%;
  max-width: 420px;
  box-shadow: 0 8px 24px #4d555B;
  /* transition: box-shadow 0.3s ease; */
}

.form:hover {
  /* box-shadow: 0 8px 32px #BC6c25; */
}

.heading {
  text-align: center;
  color: var(--text-muted);
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
  margin-top: 0;
}

.formGroup {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.input {
  padding: 0.8rem 1rem;
  border-radius: 80px;
  border: 2px solid var(--input-border);
  /* border: none; */
  background-color: var(--input-bg);
  color: var(--text-muted);
  font-size: 1rem;
  outline: none;
  transition: border-color 0.2s ease;
}

.input:hover{
  background-color: #eff1f3;
}
/* .input:focus {
  border-color: var(--secondary-color);
} */

.button {
  width: 100%;
  padding: 0.8rem;
  background-color: var(--primary-color);
  color: var(--text-light);
  border: none;
  border-radius: 80px;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color, scale 0.3s ease;
}

.button:hover {
  background-color: #012538;
  scale: 102%;
  box-shadow: 0px 5px 8px var(--bg-dark);
}

.linksContainer {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}

.link {
  color: var(--primary-color);
  text-decoration: none;
  font-size: 0.9rem;
  transition: color 0.2s;
}

.link:hover {
  color: var(--secondary-color);
}

.linkText {
  color: #555;
  margin: 0;
  text-align: center;
}

.errorText {
  color: var(--error-color);
  font-size: 0.85rem;
  margin-top: -0.5rem;
  margin-bottom: 0.5rem;
}

.passwordWrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.eyeIcon {
  position: absolute;
  right: 12px;
  cursor: pointer;
  color: #888;
  font-size: 1.1rem;
}

.passwordInput{
  width: 100%;
}

.drawline{
  border: 1px solid var(--secondary-color);
  border-radius: 80px;
  margin-bottom: 1rem;
  width: 100%;
}

.createaccount{
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cabutton{
  width: 50%;
  background-color: #fb9833;
}

.cabutton:hover{
  background-color: #d4802b;
  box-shadow: 0px 2px 8px var(--bg-dark);
}